<html> 
<head> 
<style> 
table, th, td {
	border: 1px solid black;
	border-collapse: collapse; 
	text-align: center;
	padding: 10px;
	color: black;
}	
</style>
</head>
<body>
<br> <br>
UPDATE STOCKS
<form method = "post"> 
	<table class = "center">
		<th>Item</th>
		<th>Size</th>
		<th>Stock</th>
		<% @items_list.each do |item| %>
		<tr> 
			<td><%= item.item_name %> </td>
			<td><%= item.size %> </td> 
			<td><input type = "integer" name = <%= "#{item.id}" %> value = <%= item.current_stock %>> </td>
		</tr>
		<% end %> 
	</table> 
	<input type = "submit"> 
</form> <br> 
<a href = "/items">Return to Inventory </a> <br> <br> 
</body>
</html>

