<html> 
<head> 

<style> 

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 10px;
	color: black;
}	

</style>
</head>

<body>
Update List for Item: "<%= @item.item_name%>" Size: <%= @item.size %>  <br> <br>
<table> 
<th>Updated At</th> 
<th>Stock Change</th> 
<th>Notes</th> 

<% @item.updates_list.each do |update|   %>
<tr> 
<td><%= update.updated_at  %> </td>
<td><%= update.stock_diff(update, ) %> </td> 
<td><%= item.current_stock[:stock] %> </td>
<td><a href = <%= "#{item.item_url}/view_updates#" %>
<td><a href = <%= "#{item.item_url}/update_stock" %>> Update Stock </a></td>
<td><a href = <%= "#{item.item_url}/show_edit"%>> Edit Item </a></td>
</tr>
<% end end %> 

</table>
<br> 

<form action = "/inventory" method = "post"> 

ADD NEW ITEM<br> 
Item Name <br> 
<input type = "text" name = "item_name"> 
<br> 

Size <br> 
<input type = "text" name = "size">
<br> 

Price <br> 
<input type = "number" step = "0.01" min = "0" name ="price"> 
<br> 

<input type = "submit"> 

</form> 

<br> 
<a href = '/deactivated'> Deactivated Items </a>  



</body>
</html>
